

  @font-face { font-family: Blindspot; src: url('Blindspot.otf'); } 
  @font-face{font-family:Century Gothic;scr:url('GOTHIC.TTF');}
  
  * {
    box-sizing: border-box;
    font-family: century gothic;
 
}   
      


.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("jaffna\ 7.jpg");
    /* background-blend-mode: darken; */
    background-size: cover;
    padding-bottom: 500px;
    padding-top: 1px;
    font-family: Blindspot;
    color: white;
    
}
.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 35px;
}
   .header {
  font-family: Blindspot;
  font-size: large;
  color: #ffffff;
  padding-left: 90px;
  

}

.header img{
  width:68px;
  height:auto;
  margin-top: 10px;
}

.title1 {
    text-align: center;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:6vw;
    /* letter-spacing: 10px; */
   font-family: Blindspot;
   
}
.box ul li {
    width:125px;
    float: right;
    margin:10px auto;
    text-align:center;
    transition:0.4s ease;
    font-weight:bold;
    padding-bottom: 50px;
    font-family: century gothic;
}
.box {	width:-100px;
    grid-template-rows: auto,auto;

}
.box ul li  a {
                text-decoration:rgba(240, 152, 10, 0.828);
                font-weight:50px;
                color: white;
                
}

.box ul li:hover{background-color:white;
                font-weight:100px;
                padding:5px;
                opacity:9;
                color:black;
}
.box ul li:hover a{
    color: black;
    padding: 5px;
}



.content-section {
    margin: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
   
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: century gothic;

}

.image {
    height: 250px;
    
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: white;
    padding: 40px;
    width: 1000x;
    background-image: url("jaffna1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
  }
.item1{ grid-area:header; 
     font-family: century gothic;
     font-size: 40px;

  }


.item2 { grid-area: menu; }
.item3 {
    
grid-area: main; 
font-family: century gothic;
font-size: 20px;

}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container2 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: white;
  padding: 40px;
  width: 1000x;
  background-image: url("jaffnalife.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.973);
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}

.social-icons {
  text-align: start;
      
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  color:hsl(30, 100%, 50%) ;
  }
.social-icons li img {
  width:25px;
  height:auto;
  margin-right: 20px;
}
.myfex{
  display: flex;
  flex-wrap: nowrap;
}

.address{
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-size: medium;
}

.catch{text-align: start;
  padding-left: 100px;

}
.catch input[type=text] {
   width:70%;
   padding-left: 10px;
}
.catch input[type=submit] {
  
  padding-left: 20px;
  background-color:hsl(30, 87%, 63%);
      color:black;
      text-align: center;
      border-radius:30px;
}
.footimg img{
  width:500px;
  height:auto;



}