@font-face {
    font-family: Blindspot;
    src: url('Blindspot.otf');
}

@font-face {
    font-family: Century Gothic;
    scr: url('GOTHIC.TTF');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Blindspot;
    text-align: center;
}


/* Float four columns side by side */

.row {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 90%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}


/* Remove extra left and right margins, due to padding */

.container {
    margin: auto;
}


/* Clear floats after the columns */

.container:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 500px) {
    .row {
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card-left {
    margin-right: 50px;
    height: 350px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 1s;
    border-radius: 10px;
}

.card-right {
    margin-left: 50px;
    height: 350px;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 1s;
    border-radius: 10px;
}

.card-right:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1);
    transform: scale(1.09);
}

.card-left:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari 3-8 */
    transform: scale(1.09);
}

.image {
    height: 295px;
    width: 100%;
}